@font-face {
    font-family: "Times Newer Roman";
    src: url('times new roman.ttf');
}
div {
  font-family: Times Newer Roman;
}

p, pre{
    font-family: "Times Newer Roman;
    src: url('times new roman.ttf');
}

