@font-face {
    font-family: "TimesNewR";
    src: url('times new roman.ttf');
}
div {
  font-family: Times New Roman, Times, serif;
  max-width: 100px;
  margin: auto;
}

p, pre{
    font-family: "TimesNewR, Times New Roman, Times, serif";
    src: url('times new roman.ttf');
    }



