@font-face {
    font-family: "Times New Roman, Times, serif";
    src: url('times new roman.ttf');
}
div {
  font-family: Times New Roman, Times, serif;
}

p, pre{
    font-family: "Times New Roman, Times, serif;
    src: url('times new roman.ttf');
}

